
 .hero {
   height: 100vh;
   width: 100%;
   background-image: url(../images/2.jpg);
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat; 
}

.text2{
   text-align: left;
   margin: 0;
   padding: 0;
   font-weight: bold;
   font-size:14;
   color: #000;
   font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 }

 .tabs{
   padding: 25px;
}

#labels{
   /*padding-top: 5vh;*/
}

.frames{
   width: 100vh;
   height: 24vh;
}
.horizontal-center {
   margin: 14px auto;
   width: 80%;
   padding: 25px;
   align-items: center;
   align-content: center;
}
.zn{
 height: 3.5vh;
 margin-left: 10px;
  width: 100px;
  outline: 0;
  /*background-color: ;*/
 
  box-shadow: none;
  size: 3px;
  transition: 0.3s;
 }

 #labels{
   
}

.col-md{
   padding: 30px;
}

#label{
   text-align: left;
   margin: 0;
   padding: 0;
   font-weight: bolder;
   font: size 16px;;
   color: #000;
   font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

